extends base 

block content
        main.main__login
            div.login__form
                h1.login__header Login 
                form.form__login
                    div.form__group
                        label.form__label(for="email") Email:
                        input.form__input#email(type="text" placeholder="you@example.com") 
                    
                    div.form__group
                        label.form__label(for="password") Password:
                        input.form__input#password(type="text" placeholder="••••••••") 

                    input.btn__login(type="submit", value="Login")

                    div.newuser__signup
                        a.signup__link(href="/signup") New User? Signup here

        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js')
        script(type="module" src="/js/login.js")