extends base

block content
        main.main__signup
            div.signup__form
                h1.signup__header Signup 
                form.form__signup 
                    div.form__group
                        label.form__label(for="name") Name:
                        input.form__input#name(type="text")
                    
                    div.form__group
                        label.form__label(for="email") Email: 
                        input.form__input#email(type="text", placeholder="you@example.com") 

                    div.form__group
                        label.form__label(for="password") Password 
                        input.form__input#password(type="password", placeholder='••••••••')

                    div.form__group
                        label.form__label(for="passwordConfirm") PasswordConfirm 
                        input.form__input#passwordConfirm(type="password", placeholder='••••••••')

                    input.btn__signup(type="submit", value="Submit") 

                    div.olduser__login
                        a.login__link(href="/") Already have an account? Login here 

        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js')
        script(type="module" src="/js/signup.js")